
<div class="container-fluid">
    <div class="jumbotron p-5">
      <button
      type="submit"
      class="btn btn-primary"
      (click)="goBack()"
    >
    Go back
  </button>
      <h1 class="display-4">Edit the Attorney service</h1>
     
    
      <form class="" [formGroup]="AttorneyForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="FirstName">First Name</label>
          <small id="FNameRequired" class="form-text text-danger"
            >* Required</small
          >
  
          <input
            formControlName="FirstName"
            type="text"
            class="form-control"
            id="FirstName"
            placeholder="Enter your first name"
            required
            aria-describedby="FNameRequired"
            value=""
          />
        </div>
        <div class="form-group">
          <label for="MiddleName">Middle Name</label>
          <input
            type="text"
            formControlName="MiddleName"
            class="form-control"
            id="MiddleName"
            placeholder="Enter your middle name"
          />
        </div>
        <div class="form-group">
          <label for="LastName">Last Name</label>
          <small id="LNameRequired" class="form-text text-danger"
            >* Required</small
          >
  
          <input
            type="text"
            formControlName="LastName"
            class="form-control"
            id="LastName"
            placeholder="Enter your last name"
            required
            aria-describedby="LNameRequired"
          />
        </div>
        <div class="form-group">
          <label for="Email">Email address</label>
          <small id="EmailRequired" class="form-text text-danger"
            >* Required</small
          >
  
          <input
            formControlName="Email"
            type="email"
            class="form-control"
            id="Email"
            placeholder="Enter email"
            required
            aria-describedby="EmailRequired"
          />
        </div>
  
        <div class="form-group">
          <label for="Specialization">Specialization</label>
          <small id="SpecializationRequired" class="form-text text-danger"
            >* Required</small
          >
  
          <select
            class="custom-select mr-sm-2"
            formControlName="Specialization"
            id="Specialization"
            required
            aria-describedby="SpecializationRequired"
          >
            <option value="" selected disabled>Choose Specialization</option>
            <option value="0">Tax</option>
            <option value="1">Finance</option>
            <option value="2">Property</option>
          </select>
        </div>
  
        <div formGroupName="Address">
        
          <div class="form-group">
            <label for="Lane1">Lane1</label>
            <small id="Lane1" class="form-text text-danger">* Required</small>
  
            <input
              formControlName="Lane1"
              type="text"
              class="form-control"
              id="Lane1"
              placeholder="Lane 1"
              required
              aria-describedby="Lane1"
            />
          </div>
          <div class="form-group">
            <label for="Lane2">Lane2</label>
  
            <input
              type="text"
              formControlName="Lane2"
              class="form-control"
              id="Lane2"
              placeholder="Lane 2"
            />
          </div>
          <div class="form-group">
            <label for="City">City</label>
            <small id="City" class="form-text text-danger">* Required</small>
            <input
              formControlName="City"
              type="text"
              class="form-control"
              id="City"
              placeholder="Enter City"
              required
              aria-describedby="City"
            />
            
          </div>
          <div class="form-group">
            <label for="Zip">Zip</label>
            <small id="Zip" class="form-text text-danger">* Required ( 6 digit)</small>
  
            <input
              type="text"
              formControlName="Zip"
              class="form-control"
              id="Zip"
              placeholder="Zip"
              required
              aria-describedby="Zip"
            />
          </div>
  
          <div class="form-group">
            <label for="State">State</label>
            <small id="State" class="form-text text-danger">* Required</small>
  
            <input
              type="text"
              formControlName="State"
              class="form-control"
              id="State"
              placeholder="State"
              required
              aria-describedby="State"
            />
          </div>
        </div>
  
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!AttorneyForm.valid"
          data-toggle="modal" data-target="#modal"
        >
          Submit
        </button>
      </form>
      <div class="modal" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
            
               <div class="modal-header">
                 Updated data
                <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="text-success" *ngIf="msg">
                    FirstName:{{msg.firstName}}
                    <br/>
                    LastName:{{msg.lastName}} 
                    <br/>
                    MiddleName:{{msg.middleName}} 
                    <br/>
                    Lane1:{{msg.address.lane1}}
                    <br/>
                    Lane2:{{msg.address.lane2}}
                    <br/>
                    City:{{msg.address.city}}
                    <br/>
                    State:{{msg.address.state}} 
                    <br/>
                    Zip:{{msg.address.zip}}
                    <br/>
                    Email:{{msg.email}} 
                </p>
              </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="navigate()">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  