<div class="container">
  <div class="jumbotron p-5">
    <button type="submit" class="btn btn-primary" (click)="goBack()">
      Go back
    </button>
    <h1 class="display-4">Register the Attorney service</h1>

    <form class="" [formGroup]="AttorneyForm"  #ngForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="FirstName">First Name</label>
        <div *ngIf="!f.FirstName.valid && (f.FirstName.touched || ngForm.submitted)" >
          <div *ngIf="f.FirstName.errors.required" class="text-danger font-weight-light">*First Name is required</div>
        </div>
        <input
          formControlName="FirstName"
          type="text"
          class="form-control"
          id="FirstName"
          placeholder="Enter your first name"
          required
        />
      </div>
      <div class="form-group">
        <label for="MiddleName">Middle Name</label>
        <input
          type="text"
          formControlName="MiddleName"
          class="form-control"
          id="MiddleName"
          placeholder="Enter your middle name"
        />
      </div>
      <div class="form-group">
        <label for="LastName">Last Name</label>
        <div *ngIf="!f.LastName.valid && (f.LastName.touched || ngForm.submitted)" >
          <div *ngIf="f.LastName.errors.required" class="text-danger font-weight-light">*Last Name is required</div>
        </div>
        <!-- <small id="LNameRequired" class="form-text text-danger"
          >* Required</small
        > -->

        <input
          type="text"
          formControlName="LastName"
          class="form-control"
          id="LastName"
          placeholder="Enter your last name"
          required
          aria-describedby="LNameRequired"
        />
      </div>
      <div class="form-group">
        <label for="Email">Email address</label>
        <!-- <small id="EmailRequired" class="form-text text-danger"
          >* Required</small
        > -->
        <div *ngIf="!f.Email.valid && (f.Email.touched || ngForm.submitted)" >
          <div *ngIf="f.Email.errors.required" class="text-danger font-weight-light">*Email is required</div>
          <div *ngIf="f.Email.errors.email" class="text-danger font-weight-light">*Valid email required</div>
          
        </div>

        <input
          formControlName="Email"
          type="email"
          class="form-control"
          id="Email"
          placeholder="Enter email"
          required
          aria-describedby="EmailRequired"
        />

      </div>

      <div class="form-group">
        <label for="Specialization">Specialization</label>
     
          <div 
          class="text-danger font-weight-light" 
          *ngIf="f.Specialization.errors?.required && isSubmitted"
          >
          *Specialization is required.
        </div>
        <select
          class="custom-select mr-sm-2"
          formControlName="Specialization"
          id="Specialization"
          required
        >
        <option value=""> Choose Specialization</option>
          <option value={{spec}} *ngFor="let spec of Specialization">
            {{spec}}
          </option>
        </select>
      </div>

      <div formGroupName="Address">
        <div class="form-group">
          <label for="Lane1">Lane1</label>
          <div *ngIf="!f.Address['controls'].Lane1.valid && (f.Address['controls'].Lane1.touched || ngForm.submitted)" >
            <div *ngIf="f.Address['controls'].Lane1.errors.required" class="text-danger font-weight-light">*Lane1 is required</div>
          </div>
          <input
            formControlName="Lane1"
            type="text"
            class="form-control"
            id="Lane1"
            placeholder="Lane 1"
            required
            aria-describedby="Lane1"
          />
        </div>
        <div class="form-group">
          <label for="Lane2">Lane2</label>

          <input
            type="text"
            formControlName="Lane2"
            class="form-control"
            id="Lane2"
            placeholder="Lane 2"
          />
        </div>
        <div class="form-group">
          <label for="City">City</label>
          <div *ngIf="!f.Address['controls'].City.valid && (f.Address['controls'].City.touched || ngForm.submitted)" >
            <div *ngIf="f.Address['controls'].City.errors.required" class="text-danger font-weight-light">*City is required</div>
          </div>
          <input
            formControlName="City"
            type="text"
            class="form-control"
            id="City"
            placeholder="Enter City"
            required
            aria-describedby="City"
          />
        </div>
        <div class="form-group">
          <label for="Zip">Zip</label>
          <div *ngIf="!f.Address['controls'].Zip.valid && (f.Address['controls'].Zip.touched || ngForm.submitted)" >
            <div *ngIf="f.Address['controls'].Zip.errors.required" class="text-danger font-weight-light">*Zip is required</div>
            <div *ngIf="f.Address['controls'].Zip.errors.pattern" class="text-danger font-weight-light">*Zip requires only 6 digit</div>

          </div>
          <input
            type="text"
            formControlName="Zip"
            class="form-control"
            id="Zip"
            placeholder="Zip"
            required
            aria-describedby="Zip"
          />
        </div>

        <div class="form-group">
          <label for="State">State</label>
          <div *ngIf="!f.Address['controls'].State.valid && (f.Address['controls'].State.touched || ngForm.submitted)" >
            <div *ngIf="f.Address['controls'].State.errors.required" class="text-danger font-weight-light">*State is required</div>
          </div>
          <input
            type="text"
            formControlName="State"
            class="form-control"
            id="State"
            placeholder="State"
            required
            aria-describedby="State"
          />
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
         data-toggle="modal"
        data-target="#modal"
      >
        Submit
      </button>
    </form>
    <div class="modal" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button
            type="button"
            class="close btn-danger"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>

          <div class="modal-body">
            <p class="text-success" *ngIf="!errors">
              {{ msg }}
            </p>
            <p class="text-danger" *ngIf="errors">
              {{ errors}}
            </p>
          </div>

          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        
        </div>
      </div>
    </div>
  </div>
</div>
